<h1>Check out our most recent and popular articles</h1>

<div id="categories" style="display: flex;">
<h3>Categories</h3>
	<ul>
  		<li><a href="#home">Hardware</a></li>
  		<li><a href="#news">Software</a></li>
  		<li><a href="#contact">Web</a></li>
  		<li><a href="#about">Programming Languages</a></li>
	</ul>
</div><br><hr>

<div class="responsive">
  <div class="img">
    <a target="_blank" href="enter-an-anchor">
      <img style="width: 425px; height: 200px;" src="http://avpowertech.com/wp-content/uploads/2013/04/web-design-banner.png" alt="Web App Developmet">
    </a>
    <div class="desc">Web App Development</div>
  </div>
</div>


<div class="responsive">
  <div class="img">
    <a target="_blank" href="enter-an-anchor">
      <img style="width: 425px; height: 200px;" src="http://www.babysoft.ca/others/images/SiteImages/banner_services_and_solutions_softwaredevelopment.jpg" alt="Software">
    </a>
    <div class="desc">Software</div>
  </div>
</div>

<div class="responsive">
  <div class="img">
    <a target="_blank" href="enter-an-anchor">
      <img style="width: 425px; height: 200px;" src="http://aiyctc.com/wp-content/uploads/2016/04/banner-hardware.jpg" alt="Hardware">
    </a>
    <div class="desc">Hardware</div>
  </div>
</div>

<div class="responsive">
  <div class="img">
    <a target="_blank" href="enter-an-anchor">
      <img style="width: 425px; height: 200px;" src="http://www.ikompass.edu.sg/wp-content/uploads/2016/03/javascript_banner.jpg" alt="Programming Languages">
    </a>
    <div class="desc">Programming Languages</div>
  </div>
</div>

<div class="clearfix"></div><hr>

</div>