<h1 style="text-align: center;">Welcome to your Profile page!</h1>

<div>
<h3>Add an article to the archives</h3>
<fieldset>
  <form>
    <input type="text" name="articleTitle" placeholder="Title"><br>
    <input type="text" name="articleCategory" placeholder="Category">
    <input type="text" name="articleAuthor" placeholder="Author"><br>
    <input style="height: 300px; width: 25%;" type="text" name="articleBody" placeholder="Enter the article here"><br>
    <button class="btn btn-primary">Submit</button>

  </form>
</fieldset>
</div>