body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: red;
}

header {
    color: white;
    text-align: center;
    position: absolute;
    background-color: #333;
    color: white;
    width: 94%;
    padding: 25px;
}
footer {
    background-color: darkgrey;
    height: 20%;
    width: 94%;
    padding: 25px;
    margin: 10px;
}

nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-header {
    color: white;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#categories {
    list-style-position: inside;
    box-sizing: border-box;
}

div.img {
    border: 1px solid #ccc;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}